<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Library on Rails</h1>
    <p class="lead">Welcome!</p>
  </div>

  <div class="input-group pad-10">
  	<%= form_tag search_query_path, method: 'post', class: 'form-inline' do %>
  	<%= text_field_tag :term, nil, class: 'form-control', placeholder: 'Search term' %>
  	<div class="input-group-append">
  		<%= select_tag :type, options_for_select([['Title', 'title'], ['Author', 'author']]), class: 'btn dropdown-toggle' %>
  	</div>
  	<% end %>
  </div>
</div>
