<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<a href="<%= books_path %>" class="btn btn-primary">Books</a>
<a href="<%= new_user_session_path %>" class="btn btn-primary">Login</a>
<a href="<%= holds_path %>" class="btn btn-primary">Holds</a>
<a href="<%= loans_path %>" class="btn btn-primary">Loans</a>
